name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Greet, thanks for reporting! great first issue!'
        pr-message: 'Yeah, you must be a good deveoper if your submitung a pull request. have some fun with them and great first one!'
