name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is not currently resiving much activity and has beenn marked as stale.'
        stale-pr-message: 'This pull request is not currently resiving much activity and has beenn marked as stale.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
